<style rel="stylesheet">

marquee {
	width:100%
	overflow: hidden;
	border-top: ridge #e5e4e2 1px;
}

marquee .mar-flex{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}
marquee .mar-flex div{
	width:600px;
	margin:10px 15px;
	border-radius:10px;
	box-shadow:  1px 2px 3px #000000;
}
marquee .mar-flex div h6{
	font-weight:bold;
	font-size:25px;
	padding:2px;
	font-family: 'Ranchers', cursive;
}
marquee .mar-flex div p{
	font-size:16px;
	font-weight:bold;
	opacity:0.95;
	line-height:90%;
}
	.fa-star{
	color:#e8b923;
}
</style>



<marquee  behavior="scroll" direction="left" scrollamount=5 onmouseover="this.stop();" onmouseout="this.start();">
	    <div class="mar-flex">
		<% for(var i = 0;i<20;i++){  %>	
	     <div class="p-2">
	     <h6> <i class="fas fa-user-alt text-primary"></i>Kafir Hussain</h6>	
	      <a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
	     <hr>	
	     <p>Absolutely top notch.While I was skeptical of<br> the idea originally he(service boy) came in and <br>blew me away with the quality of service that was done.<br> He even tackled things I didn't even expect to be taken care of.<br>My business hasn't just been earned, it's been won handily,<br> and a bar has been set for all future mechanics to follow suit.</p>
		</div>	
		<div class="p-2">		
	    <h6> <i class="fas fa-user-alt text-primary"></i>Shweta Singh</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>
		<hr>	
		<p>I have seldom experienced such an efficient help<br> and support like from you! Thank you so much.<br> We will a bookings again during the next few days<br> and I will revert to you with the end result<br> or maybe with a little more questions.<br> Thank you again. You are a star!</p>
			</div>
	    <div class="p-2">
		 <h6><i class="fas fa-user-alt text-primary"></i>Suraj Kumar Pratap</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>Thank you for all your help.<br> Your service was excellent and very FAST.</p>
        </div>
	    <div class="p-2">
		<h6><i class="fas fa-user-alt text-primary"></i>Jaspreet Kaur</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>I would just like to compliment OHMS.<br> They have been most professional and gone to great<br> lengths to assist me. Her patience with me as I continuously<br> changed my plans is to be commended.<br> Her service re-affirms why I always<br> choose to book through an agency instead of directly.<br> Thank you</p>
		</div>
	     <div class="p-2">
		<h6><i class="fas fa-user-alt text-primary"></i>Deepak Chandel</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>A very huge Thank you to OHMS for booking only<br> the best for my family and I. extra info and park <br>rules you sent were very helpful and had us well prepared.<br> every expectation was met and I will surely recommend<br> OHMS to my friends a lot of people I know.</p>	
		  </div>
		<div class="p-2">
		<h6><i class="fas fa-user-alt text-primary"></i>Jayadev Mitali</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>Many thanks ...... No doubt, I will recommend your service! <br>If you are interested in promoting your company,<br> please let me know and I will do the utmost to market<br> your performance.<br>Have a very happy Christmas and a prosperous new year.... <br>you are our ONE address to plan our holidays!</p>
	</div>
	    <div class="p-2">
		<h6><i class="fas fa-user-alt text-primary"></i>Jatin Sharma</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
			<p>Many thanks for you kind and efficient service.<br> I have already and will definitely continue to recommend your<br> services to others in the future.<br>Wishing you all a lovely day and weekend.</p>
		  </div>
	     <div class="p-2">
		<h6><i class="fas fa-user-alt text-primary"></i>Anchal Saini</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>I would like to thank you for the excellent coordination<br> of my reservation and bookings. Well done,<br> a superb job indeed. I never had hustles with my lodging<br> and surely will definitely use you and your<br> agency each time I go for vacations!, I will also make<br> sure that my friends and colleagues use you for their bookings!</p>  
		  </div>
	     <div class="p-2">
			  <h6><i class="fas fa-user-alt text-primary"></i>Devasru Subramanyan</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>Thanks a lot for your assistance<br> - I was very impressed<br> with your site and shall recommend it to others........:):)</p> 
		  </div>
	    <div class="p-2">
			  <h6><i class="fas fa-user-alt text-primary"></i>Hardeep Suksma</h6>
		<a><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></a>	
		<hr>	
		<p>I want to let you know that everything worked out<br> with the reservations made through you.<br> The descriptions on your web-site are quite accurate.<br> Best thanks,</p> 
		  </div>
		<% } %>	
</div>
</marquee>
