<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../landing.css">
<!--<header>
	<h2><a href="#" style="color:#fcfcfc;"><i class="fas fa-home text-success"></i>OHMS</a></h2>
	<nav>
		<li><a href="/about" style="color:#fcfcfc;">ABOUT</a></li>
		<li><a href="#" style="color:#fcfcfc;">Login</a></li>
		<li><a href="#" style="color:#fcfcfc;">SignUp</a></li>
		<li><a href="#" style="color:#fcfcfc;">LogOut</a></li>
	</nav>
</header> -->
<h1>WEL<span id="come">COME</span>  TO</h1>
	<p>Online home maintainance Services!!!	</p>
<br>
<div class="container">
<a href="/home" class="btn btn-lg btn-danger ">Get Started</a>
</div>

<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>