
<%- include("../partials/header") %>
<link rel="stylesheet" href="../forms.css">	
<%- include("../partials/flash") %>


<div class="container">
<div class="A  p-5  border border-secondary">
<h1 class=' display-1 text-center'> SignUp</h1>
<p> Register with a free account on OHMS!!! And get ready for awesome Services!!</p>	
<div class="inputArrange">
<form action='/signup' method='POST'>
	<input  type="text" placeholder="Enter Name" name="name">
	<input  type="text" placeholder="Enter Email" name="email">
	<input  type="text" placeholder="Enter Your Phone No." name="phone">
    <input  type="text"  placeholder="Enter password" name="password">
	 <input  type="text"  placeholder="Re-Enter password" name="passwordConfirm">
	<!-- <div class="g-recaptcha" data-sitekey="6LeNT8oZAAAAACSYoTRiqZt3rg9sCTfHMwqGNMps"></div> -->
	<div >
  <table>
    <tbody>
      <tr>
        <h5 class=" ml-2">I'm Signing In as:</h5>
        <td height="50"><input type="radio" name="customer" id="c" value="1"></td>
        <td height="50">Customer</td>
        <td height="50"><input type="radio" name="provider" id="p" value="1"></td>
        <td height="50">Provider</td>

      </tr>
    </tbody>
  </table>
</div>
	<button type="submit" href="/signup" class=" btn-info btn-xl  ">Sign Up </button>
	
	<hr class="mx-auto"> 
		
	</form>
    <a href="/login" class=" btn btn-danger btn-xl  ">Existing User? Login! </a> <br>
    <a href="/home" class=" btn btn-secondary btn-xl  ">Go Back!!</a>
	
</div>
</div>
	</div>	
	
	<%- include("../partials/footer") %>