body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQez0l0DqHuw7RuqZ86_ep7xckEVlcK-gVTqA&usqp=CAU)center center;
	font-family: 'Zilla Slab', serif;
}

.A {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	width:800px;
	min-width:300px;
	max-height:2000px;
	margin-top:100px;
	padding:50px;
	margin-left:150px;
	margin-right:300px;
	margin-bottom:100px;
	background-color: rgba(255,255,255,0.7);
}

div .inputArrange{
	max-width:450px;
	align-items:center;
	padding:10px;
	align-self:center;
	margin-left:20px;
	margin-top:0;
}

.inputArrange input,button,a,textarea{
	border-radius:10px;
	margin-top:20px;
	width:400px;
}

 .inputArrange a{
	border-radius:10px;
	height:45px;
	font-size:22px;
	margin-top:20px;
	border: 1px solid #98afc7;
	
}
 .inputArrange input{
	border: 1px solid #98afc7;
	font-size:20px;
	padding:10px;
	height:45px;
}

.inputArrange button{
	border: 1px solid #98afc7;
	font-weight:normal;
	height:45px;
	font-size:22px;
	
}
.inputArrange textarea{
	border: 1px solid #98afc7;
	font-size:20px;
	padding:10px;
}
.inputArrange select{
	border: 1px solid #98afc7;
	font-size:16px;
	padding:10px;
	height:45px;
}

div p{
	opacity:0.8;
	font-size:20px;
	font-weight:bold;
	font-family: 'Zilla Slab', serif;
}
#c,#p{
	width:30px;
	height:40px;
}
td{
	font-weight:bold;
	font-size:18px;
}

h5{
	margin-top:10px;
	font-weight:bold;
	font-size:22px;
}
.inputArrange input:focus,.inputArrange textarea:focus ,.inputArrange select:focus{
	outline:none;
	border: 1px solid #616161;
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
	/*body{
		background:url(https://i.pinimg.com/originals/e5/e3/a5/e5e3a51e77a43bccd8927d43f2089976.jpg)center center;
	} */
	.A {
	width:auto;
	margin-top:30px;
	margin-left:10px;
	margin-right:10px;
	padding:0;
	height:auto;
	align-self:center;
}
	
	.container{
		padding:0;
	}
	
 div .inputArrange{
	width:300px;
	padding-left:0;
    margin-left:0;
  }

.inputArrange input,button,a,textarea{
	margin-left:0;
	width:300px;
 }

div input{
	height:50px;
 }

div button{
	height:55px;
	 }
	
.inputArrange a{
		height:55px;
	}
.inputArrange textarea{
	font-size:17px;
}	

div p{
	margin:0;
	font-size:18px;
	padding:0;
	}	
	
}